---
import SellaLogo from "../../public/SellaLogo.svg";
import Layout from '../layouts/Layout.astro';

---

<Layout title="Sella - Hållbara relationer">
	<main >
		<section class="h-dvh  bg-indigo-100 dark:from-gray-900 dark:to-gray-800 place-items-center grid">
			<div class="lg:mt-0 lg:col-span-5  grid place-items-center">
				<img src={SellaLogo.src} alt="Sella Logo"  />
				<h1 class="text-1xl text-center font-bold text-blue-500 dark:text-gray-200 mt-1">Hållbara relationer</h1>
				<button class="mt-10 bg-blue-200  text-blue-700 hover:bg-blue-400 hover:text-blue-900  py-2 px-4 rounded">
					<a href="https://app.sella.se/" target="_blank">Logga in</a>
				</button>
			</div>                
	</section>
	</main>
</Layout>