---
import SellaLogo from "../../public/SellaLogo.svg";
import Layout from '../layouts/Layout.astro';

---

<Layout title="Sella - Hållbara relationer">
	<main >
		<section class="h-dvh  bg-indigo-100 dark:from-gray-900 dark:to-gray-800 place-items-center grid">
			<div class="lg:mt-0 lg:col-span-5  grid place-items-center">
				<img src={SellaLogo.src} alt="Sella Logo"  />
				<button class="mt-10 bg-blue-200 hover:bg-blue-700 text-blue-700 font-bold py-2 px-4 rounded">
					<a href="https://www.sella.se/" target="_blank">Logga in</a>
				</button>
			</div>                
	</section>
	</main>
</Layout>